In [1]:
tuple("abc")

('a', 'b', 'c')

In [2]:
tuple("abc",)

('a', 'b', 'c')

In [3]:
tuple(abc)

NameError: name 'abc' is not defined

In [4]:
tuple("abc","hjk")

TypeError: tuple expected at most 1 argument, got 2

In [6]:
tuple(["a","b","c"])

('a', 'b', 'c')

In [7]:
tuple("123")

('1', '2', '3')

In [12]:
t=(2,4,5,6,9,6)
t.count(6)

2

In [15]:
t=(24,89,1,5,0,89999)
sorted(t)

[0, 1, 5, 24, 89, 89999]

In [18]:
#membership operators
x=(233,5,78,89)
20 in x

False

In [19]:
x[0]

233

In [20]:
x[0:2]

(233, 5)

In [23]:
t1=(90,67,44,33)
t2=(6,9,4,2)
t1+t2

(90, 67, 44, 33, 6, 9, 4, 2)

In [27]:
t1=(45,78,99,100)
t1*5

(45,
 78,
 99,
 100,
 45,
 78,
 99,
 100,
 45,
 78,
 99,
 100,
 45,
 78,
 99,
 100,
 45,
 78,
 99,
 100)

In [34]:
a={'gaurav':17,'gagan':18,'upadhyay':19}
print(a.keys())
print(a.values())
print(a.items())
print(len(a))

dict_keys(['gaurav', 'gagan', 'upadhyay'])
dict_values([17, 18, 19])
dict_items([('gaurav', 17), ('gagan', 18), ('upadhyay', 19)])
3

In [36]:
# Counting characters 
s=input()
d=dict()
for ch in s:
    if ch in d:
        d[ch]+=1
    else:
        d[ch]=1
print(d)

 Gaurav Upadhyay

{'G': 1, 'a': 4, 'u': 1, 'r': 1, 'v': 1, ' ': 1, 'U': 1, 'p': 1, 'd': 1, 'h': 1, 'y': 2}

In [39]:
s=input()
d=dict()
for ch in s:
    if ch in d:
        d[ch]+=1
    else:
        d[ch]=1
print(d)

 Gaurav Upadhyay

{'G': 1, 'a': 4, 'u': 1, 'r': 1, 'v': 1, ' ': 1, 'U': 1, 'p': 1, 'd': 1, 'h': 1, 'y': 2}

In [41]:
for i,j in d.items():
    print(i,j)

G 1
a 4
u 1
r 1
v 1
  1
U 1
p 1
d 1
h 1
y 2

In [43]:
# Write a program to enter names of employees and their salaries as input and store them in a dictionary.
n=int(input("enter the bumber of entries:"))
employees={}
for i in range(n):
    name=input("enter the name of employee:")
    salary=int(input("enter the salary of employee:"))
    employees[name]=salary
print("Records:",employees)

enter the bumber of entries: 4
enter the name of employee: gaurav
enter the salary of employee: 2000000
enter the name of employee: gagan
enter the salary of employee: 23000000
enter the name of employee: aditya
enter the salary of employee: 7000000
enter the name of employee: upadhyay
enter the salary of employee: 800000

Records: {'gaurav': 2000000, 'gagan': 23000000, 'aditya': 7000000, 'upadhyay': 800000}

In [44]:
#Write a program to count the number of times a character appears in a given string.
s=input("enter the string:")
c=input("enter the character to search:")
count=0
for ch in s:
    if ch==c:
        count+=1
print("number of times this character appear:",count)

enter the string: Gaurav
enter the character to search: a

number of times this character appear: 2

In [48]:
''' Write a function to convert a number entered by the user into its corresponding number in words.
For example, if the input is 876 then the output should be ‘Eight Seven Six’. '''
def num_to_word(num):
    conversion = {'1':"one",'2':"two",'3':"three",'4':"four",'5':"five",'6':"six",'7':"seven",'8':"eight",'9':"nine",'10':"ten"}
    result=''
    for d in num:
        result+=conversion[d]+" "
    return result.strip()
n=input("enter a number:")
print(num_to_word(n))

enter a number: 12

one two

In [50]:
def num_to_word(num):
    conversion= {'0':"zero",'1':"one",'2':"two",'3':"three",'4':"four",'5':"five",'6':"six"}
    result=''
    for d in num:
        result+=conversion[d]+" "
    return result.strip()
n=input("enter the number:")
print(num_to_word(num))

enter the number: 3

NameError: name 'num' is not defined